.avatar-button {
    border: none;
    background :none;
    
}

.avatar-dropdown.inactive{
    visibility: hidden;
    position: absolute;
}
.avatar-dropdown.active{
    position: absolute;
    background-color: whitesmoke;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-radius: 9px;
    border: solid 1px black;
}
.avatar-dropdown{
    gap: 10px;
    top: 70px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
    transform-origin: top right;
    transition: .3s ease-in-out;
    box-sizing: border-box;
}
.avatar-dropdown-details {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    
    font-size: large;
    gap: 5px;
}
.avatar-profile{
    align-items: center;
    padding-top: 7px;
    margin-left: 59px;
}
.avatar-profile-details {
    margin-top: 9px;
    text-align: center;
    align-items: center;
    size: 5px;

}
.divider {
    color: black;
    background-color: black;
    border-color: black;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    height: 2px;
}
.dropdown-items{
   padding-top: 10px;
   text-align: center;
   font-size: large;
   font-weight: 550; 
   cursor: pointer;
   justify-items: center;
   justify-content: center;
}
.dropdown-items:hover{
    background-color: rgb(47, 207, 247);
    border-radius: 10px;
}